.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comments__nodata,
.comments__loading {
  font-size: 20px;
  text-align: center;
}

.comments__title {
  font-size: 20px;
}

.comments__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}
.comments__item {
  list-style-type: circle;
  font-style: italic;
  /* display: flex;
  flex-direction: column;
  gap: 5px; */
}
.comments__item > * {
  margin-bottom: 5px;
}

.comments__author {
  margin-bottom: 5px;
}

.comments__user {
  font-size: 17px;
  font-weight: 700;
}

.comments__reply {
  color: rgb(0, 132, 132);
}

.comments__content {
  padding-left: 7px;
  font-style: italic;
}
