.table-ads {
  margin: 0 auto;
}

/* .table-ads th, */
.table-ads td {
  border: 1px solid lightgray;
  cursor: pointer;
}

.table-ads th {
  background-color: lightblue;
  cursor: pointer;
}

.table-ads th,
.table-ads td {
  padding: 0 15px;
  font-size: 18px;
}
